        @font-face {
        font-family: "Mustafa-Font";
        src: url("https://www.kurdfonts.com/dl/tmp/5025689/K24KurdishBold-Bold.ttf"); /* IE9 Compat Modes */
        src: url("https://www.kurdfonts.com/dl/tmp/5025689/K24KurdishBold-Bold.ttf") format("truetype"), /* IE6-IE8 */
            url("https://www.kurdfonts.com/dl/tmp/5025689/K24KurdishBold-Bold.ttf") format("truetype"), /* Safari, Android, iOS */
            url("https://www.kurdfonts.com/dl/tmp/5025689/K24KurdishBold-Bold.ttf") format("truetype"); /* Modern Browsers */
        font-weight: normal;
        font-style: normal;
        }
