        @font-face {
        font-family: "K24KurdishBold-Bold";
        src: url("K24KurdishBold-Bold.eot"); /* IE9 Compat Modes */
        src: url("K24KurdishBold-Bold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
            url("K24KurdishBold-Bold.ttf") format("truetype"), /* Safari, Android, iOS */
            url("K24KurdishBold-Bold.woff") format("woff"); /* Modern Browsers */
        font-weight: normal;
        font-style: normal;
        }
